<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/ChatBotIntial.css" />
</head>
<body>
    <div class="container">
        <div id="userStatus" class="text-center p-4 border rounded bg-light">
            <h1>Welcome!</h1>
            <form action="/UserChatHistory" method="post" onsubmit="return validateForm()">
                <input type="text" id="username" name="userName" class="form-control mb-2" placeholder="Enter UserId">
                <input type="password" id="password" name="passWord" class="form-control mb-2" placeholder="Enter Password">
                <button type="submit" class="btn btn-primary mb-3">Login</button>
                <p class="error-message" id="errorMessage" style="display: none;">Please enter a UserId.</p>

                @if (!string.IsNullOrEmpty(Model))
                {
                    <p class="error-message" id="errorMessage">@Model</p>                  
                }
                <button style="margin-top:10px" onclick="showCreateUserPopup()" class="btn btn-secondary">Create New User</button>
            </form>
        </div>

        <div id="createUserPopup" class="text-center p-4 border rounded bg-light">
            <span title="Close" class="close-button" onclick="closeCreateUserPopup()">&#10006;</span>
            <p>Enter New UserName</p>
            <input type="text" id="newUsername" class="form-control mb-2" placeholder="Enter UserId">
            <input type="password" id="newPassword" class="form-control mb-2" placeholder="Enter Password">
            <button onclick="validateAndCreateUser()" class="btn btn-primary mb-3">Create</button>
            <p class="error-message" id="createUserErrorMessage" style="display: none;">Please create a UserId With Min 3 Char.</p>
        </div>
    </div>
    <!-- Your custom JavaScript files -->
    <script src="~/js/ChatBotInital.js"></script>
    <script src="~/js/removeText.js"></script>
</body>
</html>
