<script>
    function showMessageAndRedirect() {

        setTimeout(function () {
            var element = document.getElementById("duplicate");
            element.textContent = "Redirecting To Login Page..."
        }, 2000);

        setTimeout(function () {

            var hostname = window.location.hostname;

            console.log(hostname);

            if (hostname == 'localhost') {
                window.location.href = "https://localhost:7217/";
            } else {
                window.location.href = "https://www.dvenkatesh.somee.com/";
            }

        }, 2000);
    }
</script>

<h1 id="duplicate" class="duplicate">Duplicate UserChatHistory Sessions Are Not Allowed Or Session Expired..</h1>
<script>
    showMessageAndRedirect();
</script>


<style>
    .duplicate {
        text-align: center;
        color: red;
    }
</style>