<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/css/ChatBotIntial.css" />
</head>
<body>
    <div class="container">
        <div id="userStatus" class="text-center border rounded bg-light">
            <h1>Welcome!</h1>
            <form action="/Login" method="post" onsubmit="return validateForm()">
                <input type="text" id="username" name="userName" class="form-control" placeholder="Enter UserId">
                <input type="password" id="password" name="passWord" class="form-control" placeholder="Enter Password">
                <button type="submit" class="btn btn-primary">Login</button>
                <p class="error-message" id="errorMessage" style="display: none;">Please enter a UserId.</p>

                @if (!string.IsNullOrEmpty(Model))
                {
                    <p class="error-message" id="errorMessage">@Model</p>                  
                }               
            </form>
            <button style="margin-top:10px" onclick="showCreateUserPopup()" class="btn btn-secondary">Create New User</button>
        </div>

        <div id="createUserPopup" class="text-center border rounded bg-light">
            <span title="Close" class="close-button" onclick="closeCreateUserPopup()">&#10006;</span>
            <p>Enter New EmailId</p>
            <input type="email" id="newEmail" class="form-control" placeholder="Enter EmailId" />
            <input type="password" id="newPassword" class="form-control" placeholder="Enter Password" />
            <button id="createButton" onclick="validateAndCreateUser()" class="btn btn-primary">Create</button>
            <input type="number" id="emailotp" class="form-control" style="display:none" placeholder="Enter Email Otp" />
            <button id="resendOtp" onclick="validateAndResendOtp()" class="btn btn-danger" style="display:none">Resend Otp</button>
            <button id="verifyEmail" onclick="verifyEmailOtp()" class="btn btn-primary" style="display:none">Verify Otp</button>
            <p class="error-message" id="createUserErrorMessage" style="display: none;">Please create a userId with min 3 char.</p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/ChatBotInital.js"></script>
    <script src="~/js/removeText.js"></script>
</body>
</html>
